<tr id="comment-<%= comment.id %>">

  <!-- コメント投稿者のアイコン表示 -->
  <td class="comment-icon-cell">
    <%= image_tag comment.user.image_url, class: 'rounded-circle', size: '50x50' %>
  </td>

  <td>
    <!-- コメント投稿者名・日時表示 -->
    <ul class="list-inline small text-muted comment-meta">
      <li class="list-inline-item">
        <i class="bi bi-person-heart me-1"></i>
        <%= comment.user.name %>
      </li>
      <li class="list-inline-item">
        <i class="bi bi-calendar-heart-fill me-1"></i>
        <%= l comment.created_at, format: :long %>
      </li>
    </ul>

    <!-- コメント投稿文表示 -->
    <div class="comment-body">
      <%= simple_format(comment.body) %>
    </div>
  </td>

  <!-- 削除ボタン表示 -->
  <% if current_user.own?(comment) %>
    <td class="text-end">
      <%= link_to comment_path(comment), class: "text-danger", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
        <i class="bi bi-trash-fill"></i>
      <% end %>
    </td>
  <% end %>
</tr>