<div class="container py-4">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <div class="result-page bg-white bg-opacity-75 rounded-3 p-4">
        <% content_for(:title, t('.title')) %>
        <h2><%= t('.title') %></h2>

        <p><strong class="fs-5 fs-md-4 fs-lg-3">パターン</strong></p>
        <p><%= @diagnosis_result.pattern_code %></p>
        <p><%= @diagnosis_result.result_summary %></p>

        <strong class="fs-5 fs-md-4 fs-lg-3">おすすめケア</strong>
        <p><%= simple_format(@diagnosis_result.suggestion) %></p>
      </div>

      <div class="d-flex justify-content-center gap-2 flex-wrap mt-4">
        <%= link_to "もう一度診断する", new_diagnosis_path, class: "btn btn-secondary" %>
        <%= link_to "X（旧Twitter）で共有する",
          @tweet_intent_url,
          class: "btn btn-primary",
          target: "_blank",
          rel: "noopener" %>
      </div>
    </div>
  </div>
</div>