<% content_for(:title, t('.title')) %>

<div class="container py-4">
  <div class="row">
    <div class="col-12 col-md-11 mx-auto">

      <!-- タイトル -->
      <h2><%= t('.title') %></h2>

      <!-- 結果表示 -->
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8">
          <div class="text-center rounded-3 p-2 my-1 shadow-sm result-card">
            <div class="fw-bold fs-5">現在のあなたは</div>
            <div class="fw-bold fs-3">
              <%= @diagnosis_result.pattern_code %>
            </div>
            <% if @diagnosis_result.pattern_code == '疲労なし' %>
              <div class="fw-bold fs-5">です</div>
            <% else %>
              <div class="fw-bold fs-5">を抱えている可能性があります</div>
            <% end %>
          </div>
        </div>

        <!-- レーダーチャート表示 -->
        <div class="col-12 col-md-4 style="height: 250px;">
          <canvas id="result_chart" data-body-score="<%= @diagnosis_record.body_score %>"
                            data-mind-score="<%= @diagnosis_record.mind_score %>"
                            data-emotion-score="<%= @diagnosis_record.emotion_score %>"></canvas>
        </div>
      </div>

      <div class="bg-white bg-opacity-50 rounded-3 p-4 mb-4 shadow-sm text-center">
        <p class="fs-5 mb-5 text-muted">
          <%= @diagnosis_result.result_summary %>
        </p>

        <h3 class="fs-4 fw-bold mb-3">おすすめケア</h3>
        <p class="fs-5 mb-0">
          <%= simple_format(@diagnosis_result.suggestion) %>
        </p>
      </div>

      <!-- ボタン -->
      <div class="d-flex justify-content-center gap-2 flex-wrap m-4">
        <%= link_to "もう一度診断する", new_diagnosis_path, class: "btn btn-secondary" %>
        <%= link_to "X（旧Twitter）で共有する",
          @tweet_intent_url,
          class: "btn btn-primary",
          target: "_blank",
          rel: "noopener" %>
      </div>
    </div>
  </div>
</div>