<%= form_with model: board, url: admin_board_path(@board), data: { turbo: false } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", rows: "10" %>
  </div>
  <div class="mb-3">
    <%= f.label :board_image %>
    <%= f.file_field :board_image, class: "form-control", accept: 'image/*' %>
    <%= f.hidden_field :board_image_cache %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
  <div class='mt-3 mb-3'>
    <%= link_to "掲示板管理画面へ戻る", admin_boards_path, class: 'btn btn-success float-end' %>
  </div>
<% end %>
