<% content_for(:title, t('.title')) %>

<div class="container py-4">
  <div class="row">
    <div class="col-12 col-md-11 mx-auto">

      <!-- タイトル -->
      <h2><%= t('.title') %></h2>

      <!-- 検索 -->
      <div class="bg-white bg-opacity-50 rounded-3 py-4 my-3">
        <%= render 'search_form' %>
      </div>

      <!-- 掲示板一覧 -->
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">画像</th>
              <th scope="col">タイトル</th>
              <th scope="col">本文</th>
              <th scope="col">作成日</th>
              <th scope="col">更新日</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @boards %>
          </tbody>
        </table>
      </div>

      <!-- ページネーション -->
      <div class="text-muted small text-end my-4">
        投稿件数 : <%= @boards.total_count %> / 総ページ数: <%= @boards.total_pages %> / 現在のページ: <%= @boards.current_page %>
      </div>
      <%= paginate @boards, theme: 'bootstrap-5' %>

    </div>
  </div>
</div>
