<% content_for(:title, t('.title')) %>

<div class="container py-4">
  <div class="row">
    <div class="col-11 col-md-11 col-lg-10 mx-auto">
      <div class="bookmark_index">
        <h2><%= t('.title') %></h2>
          <%= render 'search_form', q: @q, url: bookmarks_boards_path %>
          <!-- 掲示板一覧 -->
          <% if @bookmark_boards.present? %>
            <div class="row g-3">
              <%= render partial: "boards/board", collection: @bookmark_boards, as: :board, locals: { truncate: true } %>
            </div>
          <% else %>
            <p><%= t('.no_result') %></p>
          <% end %>
      </div>
      <%= paginate @bookmark_boards, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
