<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <%= render 'search_form', q: @q, url: boards_path %>
    </div>
  </div>
  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @boards.present? %>
          <%= render @boards %>
        <% else %>
          <div class="mb-3">投稿がありません</div>
        <% end %>
      </div>
      <div class="text-muted small">
        投稿件数 : <%= @boards.total_count %>,
        総ページ数: <%= @boards.total_pages %>,
        現在のページ: <%= @boards.current_page %>
      </div>
      <%= paginate @boards, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
