<% content_for(:title, t('.title')) %>

<div class="container py-4">
  <div class="row">
    <div class="col-11 col-md-10 col-lg-9 mx-auto">
    <h2><%= t('.title') %></h2>
    
      <div class="bg-white rounded-3 p-4">

        <!-- カードコンテナ -->
        <article class="card m-2">

          <!-- カード内容 -->
          <div class="card-body">
            <div class="row">

              <!-- 画像表示 -->
              <div class="col-md-3">
                <%= image_tag @board.board_image_url, width: "300", height: "200", class: "card-img-top img-fluid" %>
              </div>

              <!-- タイトル表示 -->
              <div class="col-md-9">
                <h3><%= @board.title %></h3>

                <!-- アカウント名・投稿日 -->
                <ul class="list-inline">
                  <li class="list-inline-item fs-6 fw-light">
                    <i class="bi bi-person me-1"></i>
                    <%= @board.user.name %>
                  </li>
                  <li class="list-inline-item fs-6 fw-light">
                    <i class="bi bi-calendar me-1"></i>
                    <%= l @board.created_at, format: :long %>
                  </li>
                </ul>

              <!-- ブックマークボタンor削除・編集ボタン表示 -->
              <div class="d-flex justify-content-end align-items-center gap-1">
                <% if current_user.own?(@board) %>
                    <%= link_to edit_board_path(@board) do %>
                      <i class="bi bi-pencil-fill text-success fs-5"></i>
                    <% end %>
                    <%= link_to board_path(@board), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
                      <i class="bi bi-trash-fill text-danger fs-5"></i>
                    <% end %>
                    <%= render 'like_area', { board: @board } %>
                <% else %>
                  <%= render 'bookmark_buttons', { board: @board } %>
                  <%= render 'like_area', { board: @board } %>
                <% end %>
              </div>
            </div>

            <!-- 本文 -->
            <div class="py-3">
              <%= simple_format(@board.body) %>
            </div>
          </div>
        </article>
      </div>

      <!-- コメント機能 -->
      <div class="bg-white bg-opacity-50 rounded-3 p-2 my-4">
        <div class="m-4">
          <%= render 'comments/form', comment: @comment, board: @board %>
        </div>
        <div class="m-4">
          <table class="table">
            <tbody id="table-comment">
              <%= render @comments %>
            </tbody>
          </table>
        </div>
      </div>

      <!-- 一覧画面へ戻るボタン -->
      <div class="m-4">
        <%= link_to '掲示板一覧画面へ戻る', boards_path, class: "btn btn-secondary float-end" %>
      </div>

    </div>
  </div>
</div>
