<tr>
  <td>
    <%= user.id %>
  <td>
    <%= image_tag user.image_url, class: 'rounded-circle border border-secondary', size: '50x50' %>
  </td>
  </td>
  <td>
    <%= user.name %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= t("enums.user.role.#{user.role}") %>
  </td>
  <td>
    <%= l user.created_at, format: :long %>
  </td>
  <td>
    <%= l user.updated_at, format: :long %>
  </td>
  <td>
    <div class="d-flex flex-column">
      <%= link_to "詳細", admin_user_path(user), class: 'btn btn-outline-info btn-sm' %>
      <%= link_to "編集", edit_admin_user_path(user), class: 'btn btn-outline-success btn-sm' %>
      <%= link_to "削除", admin_user_path(user), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: 'btn btn-outline-danger btn-sm' %>
    </div>
  </td>
</tr>