<% content_for(:title, t('.title')) %>

<div class="container py-4">
  <div class="row">
    <div class="col-12 col-md-11 mx-auto">

      <!-- タイトル -->
      <h2><%= t('.title') %></h2>

      <!-- 検索 -->
      <div class="bg-white bg-opacity-50 rounded-3 py-4 my-3">
        <%= render 'search_form' %>
      </div>

      <!-- 掲示板一覧 -->
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">アイコン</th>
              <th scope="col">名前</th>
              <th scope="col">メールアドレス</th>
              <th scope="col">権限</th>
              <th scope="col">作成日</th>
              <th scope="col">更新日</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          <%= render @users %>
          </tbody>
        </table>
      </div>

      <!-- ページネーション -->
      <div class="text-muted small text-end my-4">
        ユーザー数 : <%= @users.total_count %>,
        総ページ数: <%= @users.total_pages %>,
        現在のページ: <%= @users.current_page %>
      </div>
      <%= paginate @users, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
